<div class="mypics">
    <% pics.each do |p| %>
       <p>
         <div>
                <a href="<%= p.url %>">
                  <p class="centeredImage"><img src="<%= p.url %>"/></p>
                </a>
                <div class="sideways">
                  <ul>
                    <li>Rating: <%= p.rating %></li>
                    <li>Fabs: <%= p.fabs %></li>
                    <li>Drabs: <%= p.drabs %></li>
                    <li class="last"> <a href="/vote/<%= p.name %>"> Vote!</a> </li>
                  </ul>
                </div>
                
                <div class="sideways">
                  <% p.get_data.each do |ann| %>
                  <ul>
                    <% ann.each do |type, attributes| %>
                    <li style="font-weight:bold;font-size:16px"> <%= type.capitalize %> </li>
                      <% attributes.each do |f, v| %>
                        <li class="field"><span style="font-weight:bold;"><%= f.capitalize %></span>: <span><%= v %></span></li>
                      <% end %>
                    <% end %>
                  </ul>
                  <% end %>
                </div>
                <br/>
            </div>
            <hr style="clear:both"/>
        </p>
    <% end %>
</div>
